header {
    background-color: #f2f2f2;
}

.navbar {
    padding: 0;
}

.mr-15 {
    margin-right: 10rem;
}

.nav-item {
    margin-right: 26px;
    position: relative;
}

.nav-item:hover {
    border-bottom: 4px solid black;
}

a {
    color: black;
    padding: 0;
    height: 68px;
    line-height: 72px;
}

li {
    height: 68px;
}

.authorize:hover {
    font-weight: bold;
}

.nav-link {
    cursor: pointer;
    padding-top: 0;
}
