.post {
    height: 200px;
    width: 90%;
    border-radius: 80px;
    margin: 0 auto;
    background-color: white;
}

.comment {
    height: 170px;
    width: 70%;
    background-color: white;
    margin: 0 135px;
    padding: 20px;
}

.content {
    padding: 15px 80px;
}

.topic {
    height: 80px;
    font-size: 15px;
}

.posted-date {
    color: #b9b7b2;
}

.post-c {
    background-color: #f7f5f0;
    padding-top: 15px;
}
