.post {
    height: 175px;
    width: 80%;
    border-radius: 80px;
    margin: 0 auto;
    background-color: white;
}

.post-c {
    padding-top: 15px;
    background-color: #f7f5f0;
}

.posted-date {
    color: #b9b7b2;
}

.topic {
    height: 70px;
    font-size: 19px;
}

.content {
    padding: 15px 80px;
}
